@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" ng-app="app" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MICROSERVICES</title>
    <environment include="Development">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="~/template/vendor/bootstrap/css/bootstrap.min.css" />
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="~/template/vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" />
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="~/template/vendor/magnific-popup/magnific-popup.css" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="~/template/css/freelancer.css" />
    </environment>
    <environment exclude="Development">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="~/template/vendor/bootstrap/css/bootstrap.min.css" />
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="~/template/vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" />
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="~/template/vendor/magnific-popup/jquery.magnific-popup.min.js" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="~/template/css/freelancer.min.css" />
    </environment>
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">MICROSERVICES</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <h1 class="text-uppercase mb-0">Microservices</h1>
            <hr class="star-light">
        </div>
        <div ng-controller="HomeController as vm" class="container">
            <select id="customers" name="customers" ng-model="vm.currentCustomer"
                    ng-options="item.id as item.name for item in vm.customers">
                <option value="">All Customers</option>
            </select>
            <select id="customers" name="customers" ng-model="vm.currentStatus">
                <option value="">All</option>
                <option value="true">Online</option>
                <option value="false">Offline</option>
            </select>
            <div class="row">
                <div class="col-md-6 col-lg-4 p-xs" ng-repeat="vehicle in vm.vehicles | filter:{'customerId':  (vm.currentCustomer||''),'status':(vm.currentStatus||'')}">
                    <div class="card" style="width: 20rem;" ng-class="{ 'online rounded':vehicle.status,'offline rounded':!vehicle.status }">
                        <div class="card-block">
                            <h4 class="card-title"><i class="fa fa-car p-xxs"></i>{{vehicle.regNo}}</h4>
                            <p class="card-text"><i class="fa fa-id-card p-xxs"></i>{{vehicle.vehicleId}}</p>
                            <p class="card-text" ng-if="vehicle.latestPingAt"><i class="fa fa-calendar-times-o p-xxs"></i>{{vehicle.latestPingAt | utcToLocal:'dd.MM.yy - hh.mm a'}}</p>
                            <p class="card-text" ng-if="!vehicle.latestPingAt"><i class="fa fa-calendar-times-o p-xxs"></i>Never</p>
                            <a href="" class="btn btn-primary" ng-click="vm.simulatePing(vehicle)">Simulate Ping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">
                        set of customers want to track thier vehicles using a high avilable system that they can relay on.
                        they agreed that vehicles will have a tracking device that will send a signal once every minute.
                        in case the vehicle faild to contact the server the vehicle is considered offline.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">
                        Dockerized microservices architecture that follows CQRS pattern  with Event Sourcing ,the solution used the following tools (.NetCore 2.1, MongoDB, RabbitMQ, Docker)
                    </p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://github.com/abdelgawad/MicroservicesTest" target="_blank">
                    <i class="fa fa-download mr-2"></i>
                    Download, fork, clone Now!
                </a>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="row">
                        <div class="col-2">Name :</div>
                        <div class="form-control col-5">Mohamed Abdul Jawad</div>


                    </div>
                    <div class="row">
                        <div class="col-2">Email :</div>
                        <div class="form-control col-5"> <a href="mailto:mohamed.abduljawad@gmail.com">mohamed.abduljawad@gmail.com</a></div>


                    </div>
                    <div class="row">
                        <div class="col-2">Cell :</div>
                        <div class="form-control col-5">+966 56 9811 632</div>
                    </div>
                    <div class="row">
                        <div class="col-2">LinkedIn :</div>
                        <div class="form-control col-5">
                            <a href="https://www.linkedin.com/in/binarydev" target="_blank">
                                https://www.linkedin.com/in/binarydev
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        Kingdome of Saudi arabia, Riyadh
                        <br>Egypt, Cairo
                    </p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">

                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Me</h4>
                    <p class="lead mb-0">
                        .Net lead developer with more than 14 years of professional experience
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy;  2017</small>
        </div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="~/template/vendor/jquery/jquery.min.js"></script>
    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/template/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/template/js/jqBootstrapValidation.js"></script>
    <script src="~/template/js/contact_me.js"></script>
    <script src="~/template/js/freelancer.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/controllers/HomeController.js"></script>
</body>
</html>
